@import url(https://fonts.googleapis.com/css?family=Oswald);
img
  border-radius: 20%;
  box-shadow: 5px 5px 10px 5px;

body
  font: bold 21px 'Oswald', sans-serif;
  text-shadow: 1px 1px 0 #fff, 2px 2px 0 #999;
  background-size: 70px 120px;

.height-75
  height: 75px;

.height-50
  height: 50px;

.width-650
  width: 650px;

.width-200
  width: 200px;

#kitty
  width: 50px;

#hero
  background: #83a4d4;
  background-image: url(../assets/dot.svg), linear-gradient(to right, #b6fbff, #83a4d4);
  background-position: center;
  background-size: 3px, cover, cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 500px;
  position: relative;

